In [1]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [2]:
huawei_df = yf.download('002502.SZ', 
                      start='2018-01-01', 
                      end='2019-12-31', 
                      progress=False)
huawei_df.head()

            Open  High   Low  Close  Adj Close   Volume
Date
2018-01-02  8.67  8.80  8.67   8.76   8.684743  3857113
2018-01-03  8.88  8.88  8.74   8.76   8.684743  5303346
2018-01-04  8.76  8.80  8.64   8.67   8.595515  3435902
2018-01-05  8.65  8.72  8.65   8.70   8.625257  2710502
2018-01-08  8.71  8.79  8.67   8.77   8.694657  3773937

In [3]:
huawei_df = yf.download('002502.SZ')

[*********************100%***********************]  1 of 1 completed

In [4]:
yahoo_financials = YahooFinancials('002502.SZ')

data = yahoo_financials.get_historical_price_data(start_date='2015-01-01', 
                                                  end_date='2019-12-31', 
                                                  time_interval='daily')

huawei_df = pd.DataFrame(data['002502.SZ']['prices'])
huawei_df = huawei_df.drop('date', axis=1).set_index('formatted_date')
huawei_df.head()

                 high    low   open  close    volume  adjclose
formatted_date
2015-01-05      6.270  6.145  6.175  6.265   4490000  6.166256
2015-01-06      6.780  6.200  6.270  6.760  12360648  6.653455
2015-01-07      6.875  6.665  6.750  6.745   6468590  6.638691
2015-01-08      6.740  6.545  6.725  6.560   4034404  6.456607
2015-01-09      6.900  6.520  6.520  6.770  10186498  6.663297

In [5]:
huawei_df.to_csv(r'C:\Users\S54076\Documents\Jupyter Notebook\huawei.csv', header=True, index = True)