In [15]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [16]:
samsung_df = yf.download('005930.KS', 
                      start='2018-01-01', 
                      end='2019-12-31', 
                      progress=False)
samsung_df.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2018-01-03  52540.0  52560.0  51420.0  51620.0  32073.728516  10013500
2018-01-04  52120.0  52180.0  50640.0  51080.0  31738.205078  11695450
2018-01-05  51300.0  52120.0  51200.0  52120.0  32384.400391   9481150
2018-01-08  52400.0  52520.0  51500.0  52020.0  32322.263672   8383650
2018-01-09  51460.0  51720.0  49980.0  50400.0  31315.691406  18013600

In [17]:
samsung_df = yf.download('002502.SZ')

[*********************100%***********************]  1 of 1 completed

In [18]:
yahoo_financials = YahooFinancials('005930.KS')

data = yahoo_financials.get_historical_price_data(start_date='2015-01-01', 
                                                  end_date='2019-12-31', 
                                                  time_interval='daily')

samsung_df = pd.DataFrame(data['005930.KS']['prices'])
samsung_df = samsung_df.drop('date', axis=1).set_index('formatted_date')
samsung_df.head()

                   high      low     open    close      volume    adjclose
formatted_date
2015-01-02      26800.0  26540.0  26800.0  26600.0   8774950.0  257.958313
2015-01-05      26720.0  26260.0  26720.0  26660.0  10139500.0  258.540161
2015-01-06      26340.0  25760.0  26300.0  25900.0  15235500.0  251.169937
2015-01-07      26220.0  25640.0  25880.0  26140.0  14322750.0  253.497406
2015-01-08      26780.0  26200.0  26780.0  26280.0  14477600.0  254.855087

In [19]:
samsung_df.to_csv(r'C:\Users\S54076\Documents\Jupyter Notebook\samsung.csv', header=True, index = True)